<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Editar</title>
</head>
<body>
    <nav class="navbar navbar-light bg-primary">
        <a href="/" class="navbar-brand">
                WINTRADERS DO DIAMOND
        </a>
    </nav>
    <br>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Edição de Meliante</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/criminoso"> 
                    <label>Nome:</label>
                    <input type="text" placeholder="Nickname do comédia" class="form-control" name="criminoso">
                    <br>
                    <label>Descreva o crime cometido aqui:</label>
                    <textarea placeholder="Não escreve mt se não da um bug que eu não sei arrumar xD" class="form-control" name="descricao"></textarea>
                    <br>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>

    </div>
</body>